<?xml version="1.0" encoding="UTF-8"?> <configuration> <system.webServer> <httpErrors> <remove statusCode="404" subStatusCode="-1" /> <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" /> </httpErrors> <rewrite> <rules> <rule name="Redirigir HTTP a HTTPS" stopProcessing="true"> <match url="(.*)" /> <conditions> <add input="{HTTPS}" pattern="^OFF$" /> </conditions> <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" /> </rule> <rule name="Redirección Parcial" stopProcessing="true"> <match url="^parcial/([a-zA-Z0-9]+)(.*)?$" /> <action type="Redirect" url="/{R:1}{R:2}" /> </rule> <rule name="Proxy a JSON Server"> <match url="^api/(.*)" /> <action type="Rewrite" url="http://localhost:3000/{R:1}" /> </rule> <rule name="Redirigir a mi sitio personal" enabled="false" stopProcessing="true"> <match url="^$" /> <action type="Redirect" url="/mr19082/" /> </rule> </rules> </rewrite> </system.webServer> </configuration>
