<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Errores personalizados -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- Reglas de redirección y rewrite -->
    <rewrite>
      <rules>

<rule name="Proxy a JSON Server">
  <match url="^api/(.*)" />
  <action type="Rewrite" url="http://localhost:3000/{R:1}" />
</rule>

<rule name="Redirigir es21001" stopProcessing="true">
      <match url="(.*)" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="^es21001\.www4\.comuna\.tpi$" />
      </conditions>
      <action type="Redirect" url="https://es21001.comuna.tpi/{R:1}" redirectType="Permanent" />
    </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
