<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Errores personalizados -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- Reglas de redirección y rewrite -->
    <rewrite>
      <rules>
               
<rule name="Forzar HTTPS Subdominios" stopProcessing="true">
  <match url="(.*)" />
  <conditions>
    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    <add input="{HTTP_HOST}" pattern="\.comuna\.tpi$" ignoreCase="true" />
  </conditions>
  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
</rule>


<rule name="Proxy a JSON Server">
  <match url="^api/(.*)" />
  <action type="Rewrite" url="http://localhost:3000/{R:1}" />
</rule>



      </rules>
    </rewrite>

  </system.webServer>
</configuration>
